{{>header}}

<h1>Welcome! Here is your dashboard.</h1>

<p><a href="/notes/new" class="btn btn-primary">New Note</a></p>

<table class="table table-striped">
  {{#note}}
  <tr><td><a href="/notes/{{id}}">{{note}}</a></td></tr>
  {{/note}}
</table>