{{>header}}

<h1>Note</h1>

<form method="POST">
  <div class="form-group">
    <textarea class="form-control" rows="3" name="note">{{note.note}}</textarea>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>

{{>footer}}